.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    .wave-icon, .surfboard-icon {
        height: 130px;
        margin: 30px 50px
    }

    .app-heading {
        color: #000000;
        text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
    }

    a {
        border: none
    }

    a:hover {
        background-color: transparent;
        cursor: pointer;
      }
}