.home {
  text-align: center;

  .link-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    height: 50px;
    width: 200px;
    margin: 50px 0;
    
    a {
        width: 100%;
        height: 100%;
    }
  }
}
