.yr-container {
    display: flex;

    .yr-table-container {
        width: 100%;
    }

    .yr-table {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 800px) {
    .yr-container {
        overflow: scroll;
        display: block;

        .yr-table-container {
            width: 100%;
            height: 300px;
        }
    }
}